doctype html

html
  head
   title chatroom
   link(rel='stylesheet' type='text/css' href='index/index.css')
   script(src='jquery/dist/jquery.min.js')
   script(type='text/javascript', src='/socket.io/socket.io.js')
   script(src='index/index.js')

  body
    .container
      .header
        | 聊天室
      .tab
        a(href='#').login-tab.selected 登录
        a(href='#').register-tab 注册
      .login
        form
          .row
            .left-part
              label 用户名：
            .right-part
              input(type='text', name='username')
          .row
            .left-part
              label 密码：
            .right-part
              input(type='password', name='password')

          button.login-btn 登录

      .register.hidden
        form
          .row
            .left-part
              label 用户名：
            .right-part
              input(type='text', name='username')
          .row
            .left-part
              label 密码：
            .right-part
              input(type='password', name='password')

          button.register-btn 注册