doctype html
html
  head
    title error
    link(rel='stylesheet', type='text/css', href='/error/error.css')
    script(src='/error/error.js')

  body
    h1 #{message}
    h2 #{error.status}
    pre #{error.stack}
