doctype html

html
  head
    title chatroom
    link(rel='stylesheet', type='text/css', href='room/room.css')
    script(src='jquery/dist/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='room/room.js')

  body
    h1 聊天室

    div
      span #{username}
      button.logout(type='button') 退出

    .room-area
      .left-area
        .list-area
          .list-title 用户列表
          hr
          .user-item.template
          .user-list

      .right-area
        .message-area
          .message.template

        .input-area
          form
            input(type='text', name='message')
            button 发送
